@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    font-size: 16px;
    --font-accent: #FF3571;
}

h1{
    font-size: 4em;
    font-weight: 600;
}

h2{
    font-size: 2.5em;
    font-weight: 600;
}

h3{
    font-size: 2.75em;
    font-weight: 700;
}

p{
    font-size: 1.5em;
    font-weight: 300;
}

span{
    font-size: 1.5em;
}

input{
    width: 900px;
    height: 90px;
    text-align: center;
    border: 0;
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.1);
    font-size: 1.75em;
}

input[type=submit]{
    background-color: #FF3571;
    width: 400px;
    border-radius: 10px;
    color: white;
}

.logo{
    width: 50px;
    height: 100%;
    position: fixed;
    margin-left: 2em;
    margin-top: 3.5em;
}  


.title{
    display: flex;
    flex-direction: column;
    padding-left: 6em;
    padding-top: 2.5em;
}


.float-img{
display: flex;
flex-wrap: nowrap;
justify-content: flex-end;
position: relative;
bottom: 12em;
z-index: -1;
}

.float-img img:nth-of-type(2){
    position: absolute;
    bottom: 100px;
    animation: float 4s ease-in-out infinite;
}

.float-img img:nth-of-type(1){
    width: 100%;
    max-width: 1080px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    width:600px;
    position: relative;
    bottom: 700px;
    padding-left: 9em;
    gap: 8em;
}

.hero-content div{
    display: flex;
    flex-direction: column;
    width:700px;
    position: relative;
    gap: 2em;
}

.hero-content span{
    text-transform: uppercase;
    color: var(--font-accent);
    font-weight: 700;
}


.gallery{
    display: flex;
    justify-content: center;
    background: url(../img/images.jpg) center/contain no-repeat;
    height: 1000px;
    width: 100%;
    margin-top: -500px;
}

.about{
    padding-top: 150px;
    margin: 100px;
}

.idea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap:100px;
}

.about div:nth-of-type(1) h2{
    width: 300px;
}

.about div:nth-of-type(1) span::before{
    content: url(../img/idea.png);
    height: 60px;
}

.about .paragraph{
    display: flex;
    line-height: 3em;
    word-spacing: 0.2em;
    width: 850px;
}

.heading{
    margin-left: 100px;
}

.grid{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.grid h2{
    margin-top: 200px;
    margin-left: 250px;
    font-weight: 600;
    width: 800px;

}

.grid-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 250px;
    margin: 0 auto;
    gap: 100px;
}

.title{

    gap: 20px;
}

.title h3{
    position: relative;
    right: 60px;
}

.title p{
    width: 500px;
    line-height: 2em;
}
.title img{
    height: 32px;
}

.title div{
    display: flex;
    gap: 30px;
}

.one h3::before, .two h3::before, .three h3::before, .four h3::before{
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    right: 25px;
    top: 5px;
}

.one h3::before{
    content: url(../img/title02.svg);
}

.two h3::before{
    content: url(../img/title04.svg);
}

.three h3::before{
    content: url(../img/title01.svg);
}

.four h3::before{
    content: url(../img/title03.svg);
}

.challenge{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.challenge p{
width: 700px;
text-align: center;
}

.challenges{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-top:100px;
    gap: 200px;
}

.challenge-img img{
    width: 500px;
}

.desc{
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.desc h4{
    font-weight: 700;
    color: #ddd;
    font-size: 4em;
}

.desc p{
    line-height: 2em;
}

.steps{
    width: 100px;
}

.challenge{
    padding-bottom: 250px;
}

.love{
    margin: 20px;
    margin-left: 200px;
}

.love p{
    font-weight: 300;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}